#icon {
    max-width: 256px;
    max-height: 36px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

html {
    background: #1565c0;
}
body {
    background-repeat: no-repeat;
    background: #1565c0;
    background: -webkit-gradient(linear, left top, left bottom, from(#64b5f6), to(#1565c0));
    background: -moz-linear-gradient(top, #64b5f6 , #1565c0);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#64b5f6', endColorstr='#1565c0');
}

body{
    background-color: #1976d2;
}

.btn{
    background-color:  #1976d2;
    float: right;
}

.btn:hover{
    background-color: #1976d2;
}